body {
  font-family: 'Cabin', sans-serif;
  background-color: rgb(235, 231, 226);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}
